{% extends 'base.html'%}

{% block body %}
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{%static 'css/main.css'%}">


    <!-- ACCOUNT PAGE -->
    <div class="container">
        <form class="form-signin" method="post" action="{% url 'accounts:login' %}">

            <h2 class="form-signin-heading text-center">Login</h2>
            {% if messages %}
                {% for message in messages %}
                    <p class='text-danger text-center'>{{message|safe}} </p>
                {% endfor %}       
            {% endif %}
            <label for="inputEmail" class="sr-only">Email</label>
            {{ form.email}}
            <label for="inputPassword" class="sr-only">Password</label>
            {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% csrf_token %}
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <div>
                <small class='text-muted text-sm'>Don't have an account? <a href="{% url 'accounts:register'%}" >Register</a></small>
            </div>
        </form>

    </div>
    <script>
       
    </script>

{% endblock %}