{% extends 'dashboard-base.html'%}

{% block body %}
{% load static %}

    
    <!-- DASHBOARD -->
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h3 class='text-center'>Hi {{request.user.first_name}} 👋</h3>
                <p class='text-center'>{{request.user.email}}</p>
            </div>
            <div class="col-lg-6 mx-auto">
                <div class="card text-light bg-success bg-gradient"> 
                    <h4 class="text-light">NGN {{wallet.balance}}</h4>
                    <div class="">
                        <h4 class="mb-4">{{wallet.account_number}}</h4>
                        <h5 class="mb-4">{{wallet.account_name}}</h5>
                        <h5>{{wallet.bank}}</h5>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    <script>
             
    </script>

{% endblock %}